body,
textarea,
input {
	font: 16px "Trebuchet MS", sans-serif;
}

.chat{
	max-width: 400px;
	margin-left: 30px;
	margin-top: 30px;
}

.chat-messages,
.chat textarea,
.chat-name {
	border: 1px solid #bbb;
}

.chat-messages {
	width: 100%;
	height: 400px;
	overflow-y: scroll;
	padding: 10px;
}

.chat-message {
	margin-bottom: 10px;
}

.chat-name {
	width: 100%;
	padding: 10px;
	border-bottom: 0;
	margin: 0;
}

.chat textarea {
	width: 100%;
	padding: 10px;
	border-top: 0;
	margin: 0;
	max-width: 100%;
}


.chat-status {
	color: #bbb;
}

.chat textarea,
.chat-name {
	outline: none;
}